<div class="d-flex justify-content-center"> 
    <app-hero></app-hero>
</div>
<div class="container ">
   
    <div class="row d-flex justify-content-center">

        <div class="card col-4" style="width: 18rem;">
            <img src="https://cdn.pixabay.com/photo/2018/12/17/14/20/vienna-3880488__340.jpg" class="card-img-top" alt="Vienna">
            <div class="card-body">
                <h5 class="card-title">Vienna</h5>
                <p class="card-text">Go for your own risk</p>
                <a href="#" class="btn btn-primary">Book</a>
            </div>
        </div>
        <div class="card col-4" style="width: 18rem;">
            <img src="https://cdn.pixabay.com/photo/2016/07/19/13/43/summer-1528200__340.jpg" class="card-img-top" alt="Innsbruck">
            <div class="card-body">
                <h5 class="card-title">Innsbruck</h5>
                <p class="card-text">The land of mountains</p>
                <a href="#" class="btn btn-primary">Book</a>
            </div>
        </div>
        <div class="card col-4" style="width: 18rem;">
            <img src="https://cdn.pixabay.com/photo/2013/12/09/09/14/graz-225538__340.jpg" class="card-img-top" alt="Graz">
            <div class="card-body">
                <h5 class="card-title">Graz</h5>
                <p class="card-text">Go South</p>
                <a href="#" class="btn btn-primary">Book</a>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center">

        <div class="card col-4" style="width: 18rem;">
            <img src="https://cdn.pixabay.com/photo/2020/05/29/06/33/linz-5233960__340.jpg" class="card-img-top" alt="Linz">
            <div class="card-body">
                <h5 class="card-title">Linz</h5>
                <p class="card-text">Interested in visiting an industrial city?</p>
                <a href="#" class="btn btn-primary">Book</a>
            </div>
        </div>
        <div class="card col-4" style="width: 18rem;">
            <img src="https://cdn.pixabay.com/photo/2017/09/28/19/03/danube-2796519__340.jpg" class="card-img-top" alt="Krems">
            <div class="card-body">
                <h5 class="card-title">Krems an der Donau</h5>
                <p class="card-text">Marillen?</p>
                <a href="#" class="btn btn-primary">Book</a>
            </div>
        </div>
        <div class="card col-4" style="width: 18rem;">
            <img src="https://cdn.pixabay.com/photo/2020/12/14/08/45/villach-5830292__340.jpg" class="card-img-top" alt="Villach">
            <div class="card-body">
                <h5 class="card-title">Villach</h5>
                <p class="card-text">Into the wild</p>
                <a href="#" class="btn btn-primary">Book</a>
            </div>
        </div>
    </div>

</div>