<div class="container">
    <h3>About Us</h3>
    <section>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, voluptates, maiores aspernatur ipsum alias rem, iste perferendis vitae ratione repellendus eaque neque incidunt tenetur provident voluptate! Quaerat commodi quidem obcaecati!
        </p>  
    </section>
    <section>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus, possimus illum. Rerum eligendi optio dicta laudantium earum doloribus quasi quae, blanditiis amet minus impedit consequatur nostrum rem ex architecto harum fugit, vel ratione. Impedit laudantium neque assumenda maxime. Illum ratione rem reiciendis quis consequatur, assumenda a minima harum cumque? Doloribus possimus voluptates explicabo, assumenda iusto velit expedita reiciendis vitae a sit corrupti accusamus ex cumque temporibus. Perspiciatis accusamus asperiores perferendis non culpa officiis quasi, molestiae dolorem excepturi eveniet placeat deleniti rem voluptas nesciunt id provident, consectetur ut delectus neque quaerat inventore? Tenetur ad eius eligendi. Tempora autem nulla quis suscipit.
        </p>
    </section>
</div>