<div class="container mt-5">
    <app-hero></app-hero>

<!-- Under the Hero section in three columns and two rows display 6 different tourist destination with their names, price, number of nights and city. -->
<div class="row container my-3">
    <div class="card col-4" style="width: 18rem;">
        <img src="https://cdn.pixabay.com/photo/2020/02/16/21/07/krakow-4854806_960_720.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Krakow</h5>
          <p class="card-text">A nice city</p>
          <a href="#" class="btn btn-primary">Book</a>
        </div>
    </div>

    <div class="card col-4" style="width: 18rem;">
        <img src="https://cdn.pixabay.com/photo/2017/08/31/14/24/gdansk-2700892_960_720.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Gdansk</h5>
          <p class="card-text">Also nice city, but on the sea.</p>
          <a href="#" class="btn btn-primary">Book</a>
        </div>
    </div>

    <div class="card col-4" style="width: 18rem;">
        <img src="https://cdn.pixabay.com/photo/2015/05/28/12/31/warsaw-787880_960_720.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Warsaw</h5>
          <p class="card-text">The capital.</p>
          <a href="#" class="btn btn-primary">Book</a>
        </div>
    </div>

</div>

<div class="row container my-3">
    <div class="card col-4" style="width: 18rem;">
        <img src="https://cdn.pixabay.com/photo/2015/10/12/09/38/poznan-983563_960_720.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Poznan</h5>
          <p class="card-text">They have horses and a market obviously.</p>
          <a href="#" class="btn btn-primary">Book</a>
        </div>
    </div>

    <div class="card col-4" style="width: 18rem;">
        <img src="https://cdn.pixabay.com/photo/2020/02/12/15/47/torun-4843129_960_720.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Torun</h5>
          <p class="card-text">They have ginger bread there.</p>
          <a href="#" class="btn btn-primary">Book</a>
        </div>
    </div>

    <div class="card col-4" style="width: 18rem;">
        <img src="https://cdn.pixabay.com/photo/2017/07/20/23/33/sopot-2524136_960_720.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Sopot</h5>
          <p class="card-text">Also on the sea.</p>
          <a href="#" class="btn btn-primary">Book</a>
        </div>
    </div>

</div>

</div> <!-- container-->
